*~
\#*\#
.DS_Store
/build
/android/ndk/libs
/android/ndk/obj
/android/android-studio/.idea
/android/android-studio/app/src/main/jniLibs
/TAGS
/GPATH
/GRTAGS
/GTAGS
doxygen/
android/android-studio/app/src/main/jniLibs/
.idea/
cmake-build-debug/
.ccls-cache/